.App {
  padding-left: 10%;
  padding-right: 10%;
}

.App-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
